/* ==========================================================================
   Media Queries

   - Not-small
   - Medium
   - Large
   ========================================================================== */



/* small (Mobile dude)
   ========================================================================== */

@include break(small) {
  .wrapper {

    #mobile {
      display: block;
    }

    .menu-link {
      display: block;
    }

    #main-nav {
      display: none;
    }

    header {
      &.info, &.gallery {
        height: 350px;
      }

      .nav-logo {
        margin-top: -30px;
      }

      .overlay.blue {
        max-height: 350px;
      }
    }

    h1 {
      position: relative;
      top: 0;
      transform: translateY(0);
      margin: 20px auto 0;
      text-align: center;
    }

    h1 .logo {
      max-width: 65%;
    }

    h2 {
      max-width: 480px;
      font-size: 28px;
      padding: 10px 30px;
    }

    .content {
      padding: 50px 30px;

      .hours h3 { font-size: 20px; }
    }

    .footer {
      bottom: 0;
      padding-bottom: 20px;
      ul { padding: 0 20px; }
      ul li { font-size: 1.4em; }
    }

    #gallery {
      padding-top: 90px;
    }
  }

  .chef-pic {
    max-width: 260px;
    float: none;
    padding: 0 0 20px;
    margin: 0 auto;
  }

  .menus {
    @include container(300px);

    .btn {
      @include span(12);
      margin-bottom: 30px;
      &:last-of-type { @include span(12); margin-bottom: 0; }

    }
  }

}

/* Medium - only targets 1st breakpoint. Styles do not extend past 64em.
   ========================================================================== */

@include break(medium) {


}

/* Large - only targets 2nd breakpoint. Styles do not extend past 64em.
   ========================================================================== */

@include break(large) {

}

