/* ==========================================================================
   Media Queries

   - Not-small
   - Medium
   - Large
   ========================================================================== */



/* small (Mobile dude)
   ========================================================================== */

@include break(small) {

  header {
    height: 90px;
    background-size: auto 70px;
    transition: all .1s ease;

    h1 a { height: 90px; top: 0;}
  }
  
  #mobile {
    display: block;
  }

  .menu-link {
    display: block;
    padding: 20px;
  }

  #main-nav {
    display: none;
  }

  .centered {
    margin: 0 20px;
  }

  #content {
    padding-top: 120px;
    margin: 0 16px; 
  }

  #info {
    height: 100%;
    height: 100vh;

    p { font-size: 18px; }
  }

  #gallery {
    padding-top: 90px;
  }

}

/* Medium - only targets 1st breakpoint. Styles do not extend past 64em.
   ========================================================================== */

@include break(medium) {


}

/* Large - only targets 2nd breakpoint. Styles do not extend past 64em.
   ========================================================================== */

@include break(large) {

}

