/* ==========================================================================
   Media Queries

   - Not-small
   - Medium
   - Large
   ========================================================================== */



/* small (Mobile dude)
   ========================================================================== */

@include break(small) {

  #mobile {
    display: block;
  }

  .menu-link {
    display: block;
  }

  #main-nav {
    display: none;
  }
}

/* Medium - only targets 1st breakpoint. Styles do not extend past 64em.
   ========================================================================== */

@include break(medium) {


}

/* Large - only targets 2nd breakpoint. Styles do not extend past 64em.
   ========================================================================== */

@include break(large) {

}

