/* ==========================================================================
   Base styles
   ========================================================================== */

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: $black;
  -webkit-font-smoothing: antialiased;

}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
  font-weight: 400;
  transition: all .2s linear;

  &:hover { 
    color: $chef-blue;
    font-weight: 400;
    transition: all .2s linear;
  }
}

::selection, ::-moz-selection {
  background: $chef-blue;
  color: #fff;
  text-shadow: none;
}




/* ==========================================================================
   Site styles
   ========================================================================== */

header {
  position: relative;
  height: 155px;
  width: 100%;
  margin: 0;
  z-index: 2;
  box-shadow: 0 2px 6px rgba( 0, 0, 0, .25);
  background: url('../img/willbyob-logo.svg') no-repeat center center #fff;
  background-size: auto 95px;
  
  h1 {

    a {
      position: absolute;
      display: block;
      height: 95px;
      width: 150px;
      top: 40px;
      right: 50%;
      margin-right: -65px;
      cursor: pointer;

      span { display: none; }
    }
  }

  #desktop {

    @include container;
    @include clearfix;

    #menu-dropdown {
      display: none;
    }

    ul{
      @include container(1000px);
      @include clearfix;
      padding: 0 30px;
      margin-top: 100px;


      li {
        float: left;
        font-size: 1.2em;
        padding-right: 4%;
        display: inline-block;

        a {
          padding: 16px 0;
          border-bottom: 1px solid transparent;

          &:hover { border-bottom: 4px solid $chef-blue; padding: 6px 0; }
        }
      }

      #ot-button {
        float: right;
        padding: 0;
      }
    }
  }
}

/* -----  Mobile slide-out nav menu  ----- */

.panel {
    position: fixed;
    left: -19em; /*left or right and the width of your navigation panel*/
    width: 19em; /*should match the above value*/
}

.menu-link {
  font-size: 2.2em;
  -webkit-font-smoothing: antialiased;
  display: none;
  padding: 50px 30px 20px;

}

#mobile {
  display: none;

  ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: $chef-blue;

    li {
      color: $white;
      display: block;
      float: none;
      font-size: 1.5em;
      padding: 10px 40px;
      border-bottom: 2px solid $chef-blue - 10;

      a {
        color: #fff;
        line-height: 40px;
        text-shadow: 1px 1px 2px $chef-blue - 10;
        &:hover { color: $sky; }
      }
    }
  }
}

// Open Table slide out div

#open-table {
  display: none;
}


// Main content

#main {
  height: 100%;
  margin-top: -155px;
  background: url('../img/p3optim.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.centered {
  display: block;
  max-width: 50em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  text-align: center;

  h2 {
    color: #fff;
    text-shadow: 0 0 6px rgba(0, 0, 0, .35);
    margin-bottom: .5em;
  }


  h3 {
    color: #fff;
    font-weight: 400;
    text-shadow: 0 0 6px rgba(0, 0, 0, .25);
    max-width: 30rem;
    margin: 0 auto;

    &:after {
      content: '';
      display: block;
      width: 20px;
      height: 4px; 
      background-color: #fff;
      margin: 0 auto;
      margin-top: .7em;
    }
  }
}

.bottom {
  position: absolute;
  bottom: 40px;
  width: 100%;
}

.row {
  // max-width: 810px;
  margin: 0 auto;
  padding: 20px;
  @include container();

  h4 {

    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-shadow: 0 0 6px rgba(0, 0, 0, .25);

    &.addy {
      @include span(2 of 2); 
    }

    &.phone {
      @include span(1 of 2);
    }

    &.email {
      @include span(1 of 2 last);
    }

    &.social {
      @include span(2 of 2);
      margin-top: 1.2em;

      a { font-size: 2em; }
    }

    a {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      text-shadow: 0 0 6px rgba(0, 0, 0, .25);
      &:hover { color: $sky; }

    }
  }
}
