/* ==========================================================================
   Base styles
   ========================================================================== */

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Crimson Text', Georgia, serif;
  font-size: 14px;
  font-weight: 400;
  color: $black;
  -webkit-font-smoothing: antialiased;

}

a {
  text-decoration: none;
  color: #888;
  cursor: pointer;
  font-weight: 400;
  transition: all .1s linear;

  &:hover { 
    color: $chef-blue;
    font-weight: 400;
    transition: all .1s linear;
  }
}

p { margin-bottom: 20px; }

::-moz-selection {
  background: $chef-blue;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: $chef-blue;
  color: #fff;
  text-shadow: none;
}

.push {
  position: relative;
}

.spacer {
  display: block;
  background-color: $chef-blue;
  width: 60px;
  height: 4px;
  margin: 3em auto;
}


/* ==========================================================================
   Site styles
   ========================================================================== */
$susy: (
  columns: 12,
  gutters: .5,
  gutter-position: after,
);

header {
  &.info {
    background: url("../img/info.jpg") center -300px fixed $chef-blue;
    background-size: cover;
    height: 400px;
  }
  
  &.menu {
    background: url("../img/kitchen.jpg") center -140px fixed $chef-blue;
    background-size: cover;
    height: 400px;
  }
  &.gallery {
    background: url("../img/optimized/table-setting1.jpg") center -140px fixed $chef-blue;
    background-size: cover;
    height: 400px;
  }

  #main-nav {
    padding-top: 20px;

    ul{
      @include container(1000px);
      @include clearfix;
      padding: 0 30px;

      li {
        float: left;
        margin-right: 20px;
        display: inline-block;

        a {
          color: #fff;
          font-family: 'Raleway', Arial, sans-serif;
          font-size: 1.3em;
          text-shadow: 0px 0px 22px rgba(0,0,0,.2);
          padding: 16px 0;
          border-bottom: 1px solid transparent;

          &:hover { border-bottom: 2px solid #fff; padding: 6px 0; }
        }
      }

      .ot-button {
        float: right;
        margin-right: 0;
      }
    }
  }

  .nav-logo {
    display: block;
    width: 120px;
    position: relative;
    transform: translateY(-40%);
    margin: 0 auto;
    text-align: center;

  }
}

/* -----  Mobile slide-out nav menu  ----- */

.panel {
    position: fixed;
    left: -19em; /*left or right and the width of your navigation panel*/
    width: 19em; /*should match the above value*/
    z-index: 50;
}

.menu-link {
  color: #fff;
  display: block;
  line-height: 40px;
  width: 40px;
  padding: 20px;
  font-size: 40px;
  -webkit-font-smoothing: antialiased;
  display: none;
  &:hover { color: #fff; opacity: .7;}
}

#mobile {
  display: none;

  ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: $navy;

    li {
      color: $white;
      display: block;
      float: none;
      font-size: 1.5em;
      padding: 10px 40px;
      border-bottom: 2px solid $navy - 6;

      a {
        color: #fff;
        line-height: 40px;
        text-shadow: 1px 1px 2px $navy - 10;
        &:hover { color: $sky; }
      }
    }
  }
}

/* ----- Main content ----- */

.wrapper {
  height: 100%;
  height: 100vh;

  &.main {
    background: url("../img/dish1.jpg") center bottom fixed $chef-blue;
    background-size: cover;
  }

  .overlay {
    height: 100%;
    height: 100vh;
    background: rgba(0,0,0,.25);

    &.blue {
      background: rgba(40,56,145,.8);
      max-height: 400px;
    }
  }

  h1 {
    position: relative;
    top: 32%;
    transform: translateY(-40%);
    margin: 0 auto;
    text-align: center;

    span { display: none; }
    .logo {
      position: relative;
      max-width: 500px;
      padding-left: 18px;
    }
  }

  h2 {
    max-width: 660px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-family: "Crimson Text", Georgia, serif;
  }



  .footer {
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 30px;
    

    ul {
      @include container(1000px center);
      padding: 0 30px;
      text-align: center;

      li { 
        display: inline-block;
        font-size: 1.7em;
        padding-right: 20px;
        &:last-of-type {padding-right: 0;}
      }
    }

    a {
      color: #fff;
      &:hover {opacity: .6;}
    }
  }
}

footer {
  background-color: $chef-blue;
  color: #fff;
  width: 100%;
  padding: 30px 0;
  

  ul {
    @include container(1000px center);
    padding: 0 30px;
    text-align: center;

    li { 
      display: inline-block;
      font-size: 1.7em;
      padding-right: 20px;
      &:last-of-type {padding-right: 0;}
    }
  }

  a {
    color: #fff;
    &:hover {color: #fff; opacity: .6;}
  }

  .social {
    margin: 20px auto 0;
    display: block;
    padding: 0;
    font-size: 34px;
    a {margin-right: 40px;}
    a:last-of-type {margin: 0;}
  }
}

.content {
  @include container(700px);
  padding: 50px 20px;

  .hours {
    text-align: center;
    color: $medium-gray;
    margin-bottom: 80px; 

    h3 {
      color: $chef-blue;
      margin-bottom: 16px; 
    }
  }
}

h4 {
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 16px;
  font-family: 'Raleway', Arial, sans-serif;
  color: $chef-blue;
  text-transform: uppercase;
  text-align: center;

  &:after {
    content: '';
    display: block;
    height: 3px;
    width: 20px;
    background-color: $chef-blue;
    text-align: center;
    margin: 10px auto 0;
  }
}

h5 {
  font-style: italic;
  font-size: 20px;
  color: $medium-gray;
}

.menus {
  @include container(700px);
  padding-top: 50px;
  .btn {
    box-sizing: border-box;
    display: block;
    @include span(4 of 12);
    @include clearfix;
    padding: 40px 0;
    border: 2px solid $chef-blue;
    text-align: center;
    &:last-of-type {@include span(4 of 12 last);}
    &:hover {
      background-color: $chef-blue;
      h4 {color: #fff;}
      h4:after {background-color: #fff;}
      h5 {color: #fff;}
    }
  }
}


.chef-pic {
  float: left;
  display: block;
  max-width: 315px;
  padding: 20px 30px 50px 0;
}


// ================

.centered {
  display: block;
  max-width: 48em;
  position: relative;
  top: 50%;
  transform: translateY(-40%);
  margin: 0 auto;
  text-align: center;

  h2 {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 6px rgba(0, 0, 0, .35);
    margin-bottom: .5em;
  }


  h3 {
    color: #fff;
    font-weight: 400;
    text-shadow: 0 0 6px rgba(0, 0, 0, .25);
    max-width: 30rem;
    margin: 0 auto;

    &:after {
      content: '';
      display: block;
      width: 20px;
      height: 2px; 
      background-color: #fff;
      margin: 0 auto;
      margin-top: .7em;
    }
  }
}

#info {
  @include container(750px);
  @include clearfix;

  height: 100%;
  height: 100vh;
  height: calc(100vh - 150px);
  z-index: 2;
}

#content {
  text-align: center;
  padding-top: 175px;
  padding-top: calc(150px + 4em);
  display: block;
  
  h4 {
    color: $chef-blue;

    span { display: inline-block; }
    &.social {
      display: block;
      font-size: 40px;
      padding: 10px;
      vertical-align: middle;
    }

    a { color: $chef-blue; }
    a:hover { color: $sky; }
    
  }

  // .menu-title {
  //   background: url(../img/p1.jpg) no-repeat center center fixed;
  //   -webkit-background-size: cover;
  //   -moz-background-size: cover;
  //   -o-background-size: cover;
  //   background-size: cover;
  //   font-family: 'Source Sans Pro', Arial, sans-serif;
  //   height: 200px;
  //   margin-bottom: 40px;
    
  //   h3 {
  //     color: #fff;
  //     text-shadow: 0 0 6px rgba(0, 0, 0, .35);

  //     span { font-size: $font-size-4; font-weight: 400; }
  //   }
  // }

  // .menu-1 {
  //   @include span(1 of 1);
  //   text-align: center;

  //   .course {
  //     padding: 0 30px;


  //     &:after {
  //       content: '';
  //       display: block;
  //       margin: 30px auto;
  //       border-bottom: 1px solid $medium-gray;
  //       width: 60px;
  //     }
  //   }

  //   .dish {
  //     line-height: 30px;
  //     margin-bottom: 20px;
      
  //     h4 { color: $dark-gray; }
  //     p {
  //       color: #555;
  //       font-family: 'Playfair', Georgia, serif;
  //       font-size: 1.2rem;
  //       font-style: italic;
  //     }
  //   }

  //   .dessert {
  //     padding: 0 30px;
  //     margin-bottom: 60px;
  //   }
  // }
}

.gallery {
  z-index: 1; 

  .instagram {
    @include container(100% center);
    @include layout(12 0);

    li {
      @include span(3 of 12);
      list-style: none;

      @include break(small) { 
        @include span(6 of 12);
      }
    }

    li img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
