/* ==========================================================================
   Base styles
   ========================================================================== */

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: $black;
  -webkit-font-smoothing: antialiased;

}

a {
  text-decoration: none;
  color: $navy;
  cursor: pointer;
  font-weight: 400;
  transition: all .1s linear;

  &:hover { 
    color: $chef-blue;
    font-weight: 400;
    transition: all .1s linear;
  }
}

p { margin-bottom: 20px;}

::-moz-selection {
  background: $chef-blue;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: $chef-blue;
  color: #fff;
  text-shadow: none;
}

.push {
  position: relative;
}

.spacer {
  display: block;
  background-color: $chef-blue;
  width: 60px;
  height: 4px;
  margin: 3em auto;
}


/* ==========================================================================
   Site styles
   ========================================================================== */

header {
  position: fixed!important;
  top: 0;
  height: 155px;
  width: 100%;
  margin: 0;
  z-index: 10;
  box-shadow: 0 2px 6px rgba( 0, 0, 0, .25);
  background: url('../img/willbyob-logo.svg') no-repeat center center #fff;
  background-size: auto 95px;
  
  h1 {

    a {
      position: absolute;
      display: block;
      height: 95px;
      width: 150px;
      top: 40px;
      right: 50%;
      margin-right: -65px;
      cursor: pointer;

      span { display: none; }
    }
  }

  #main-nav {

    @include container;
    @include clearfix;

    #menu-dropdown {
      position: absolute;
      display: none;
      background-color: #fff;
      border-top: 2px solid $chef-blue;
      padding: 0;
      margin: 0;
      margin-top: 10px;
      box-shadow: 0 2px 6px rgba( 0, 0, 0, .25);

      &:before {
        content: '';
        width: 43px;
        height: 4px;
        background-color: $chef-blue;
        display: block;
        position: absolute;
        margin-top: -6px;
      }

      li {
        margin: 0;
        border-bottom: 1px solid $light-gray;
        display: block;
        float: none;
        
        @include clearfix;

        &:last-of-type { border: none;}

        a {
          display: block;
          padding: 6px 16px;
          line-height: 30px;
          font-size: 1.2rem;
          border: none;
          &:hover { 
            background-color: $chef-blue; 
            font-weight: 400; 
            color: #fff; 
          }
        }
      }
    }

    ul{
      @include container(1000px);
      @include clearfix;
      padding: 0 30px;
      margin-top: 100px;


      li {
        float: left;
        font-size: 1.2rem;
        margin-right: 4%;
        display: inline-block;

        a {
          padding: 16px 0;
          border-bottom: 1px solid transparent;

          &:hover { border-bottom: 4px solid $chef-blue; padding: 6px 0; }
        }
      }

      #ot-button {
        float: right;
        margin-right: 0;
      }
    }
  }
}

/* -----  Mobile slide-out nav menu  ----- */

.panel {
    position: fixed;
    left: -19em; /*left or right and the width of your navigation panel*/
    width: 19em; /*should match the above value*/
}

.menu-link {
  font-size: 2.2em;
  -webkit-font-smoothing: antialiased;
  display: none;
  padding: 50px 30px 20px;

}

#mobile {
  display: none;

  ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: $navy;

    li {
      color: $white;
      display: block;
      float: none;
      font-size: 1.5em;
      padding: 10px 40px;
      border-bottom: 2px solid $navy - 6;

      a {
        color: #fff;
        line-height: 40px;
        text-shadow: 1px 1px 2px $navy - 10;
        &:hover { color: $sky; }
      }
    }
  }
}

/* ----- Open Table slide out div ----- */

#open-table {
  display: none;
}


/* ----- Main content ----- */

#main {
  height: 100%;
  height: 100vh;
  // margin-top: -155px;
  background: url('../img/optimized/table-setting1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 3;

  .centered {
    background-color: rgba(27, 33, 60, .85);
    border-radius: 2px;
    padding: 10px 10px 20px;
  }
}

.centered {
  display: block;
  max-width: 48em;
  position: relative;
  top: 50%;
  transform: translateY(-40%);
  margin: 0 auto;
  text-align: center;

  h2 {
    font-family: 'Playfair Display', Georgia, serif;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 6px rgba(0, 0, 0, .35);
    margin-bottom: .5em;
  }


  h3 {
    color: #fff;
    font-weight: 400;
    text-shadow: 0 0 6px rgba(0, 0, 0, .25);
    max-width: 30rem;
    margin: 0 auto;

    &:after {
      content: '';
      display: block;
      width: 20px;
      height: 2px; 
      background-color: #fff;
      margin: 0 auto;
      margin-top: .7em;
    }
  }
}

#info {
  @include container(750px);
  @include clearfix;

  height: 100%;
  height: 100vh;
  height: calc(100vh - 150px);
  z-index: 2;
}

#content {
  text-align: center;
  padding-top: 175px;
  padding-top: calc(150px + 4em);
  display: block;
  
  h4 {
    color: $chef-blue;

    span { display: inline-block; }
    &.social {
      display: block;
      font-size: 40px;
      padding: 10px;
      vertical-align: middle;
    }

    a { color: $chef-blue; }
    a:hover { color: $sky; }
    
  }

  // .menu-title {
  //   background: url(../img/p1.jpg) no-repeat center center fixed;
  //   -webkit-background-size: cover;
  //   -moz-background-size: cover;
  //   -o-background-size: cover;
  //   background-size: cover;
  //   font-family: 'Source Sans Pro', Arial, sans-serif;
  //   height: 200px;
  //   margin-bottom: 40px;
    
  //   h3 {
  //     color: #fff;
  //     text-shadow: 0 0 6px rgba(0, 0, 0, .35);

  //     span { font-size: $font-size-4; font-weight: 400; }
  //   }
  // }

  // .menu-1 {
  //   @include span(1 of 1);
  //   text-align: center;

  //   .course {
  //     padding: 0 30px;


  //     &:after {
  //       content: '';
  //       display: block;
  //       margin: 30px auto;
  //       border-bottom: 1px solid $medium-gray;
  //       width: 60px;
  //     }
  //   }

  //   .dish {
  //     line-height: 30px;
  //     margin-bottom: 20px;
      
  //     h4 { color: $dark-gray; }
  //     p {
  //       color: #555;
  //       font-family: 'Playfair', Georgia, serif;
  //       font-size: 1.2rem;
  //       font-style: italic;
  //     }
  //   }

  //   .dessert {
  //     padding: 0 30px;
  //     margin-bottom: 60px;
  //   }
  // }
}

#gallery {
  padding-top:150px;
  z-index: 1; 

  .instagram {
    @include container(2000px center);
    @include layout(12 0);

    li {
      @include span(3 of 12);
      list-style: none;

      @include break(small) { 
        @include span(6 of 12);
      }
    }

    li img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.bottom {
  position: absolute;
  bottom: 30px;
  width: 100%;
}